<div class="container-fluid">
  <h2>Listings</h2>
<hr>
  <div class="col-xs-2">
  </div>
  <div class="col-xs-8">

      <% @items.each do |item| %>
    <div class="individualListing">
        <%= link_to item_path(item) do %>
          <div class="row" id="mainRow">


            <div class="col-xs-3" id="itemSummary">

              <div class="row" id="itemName">
                <div id="name"><%= item.name %></div>
              </div>


              <div class="row" id="descripPrice">

                  <%= item.description %><br>
                  $<%= item.price %>

              </div>
            </div>

            <div class="col-xs-9" id="itemPic">
              <img class="imgDimension" src="<%= item.pic_url %>" alt="Profile Picture">
            </div>
            
          </div>
          <% end %>
          </div>
      <% end %>


  </div>
  <div class="col-xs-2">

  </div>
</div>
