<h2>Login Page</h2>

<%= form_tag(login_path) do %>

  <%= label_tag(:email)%>
  <%= text_field_tag(:email, params[:email], autofocus: true)%>


  <%= label_tag(:password)%>
  <%= password_field_tag(:password)%>

  <%= submit_tag("Log in", class: "btn btn-primary") %>

<% end %>

<%= link_to "Don't have an account? Sign up here", signup_path%>
