<div class="container-fluid">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    <h2>Login</h2>
    <%= form_tag login_path do %>
      <div class="row">
        <div class="form-group">
          <%= label_tag :email, nil, class: "control-label" %>
          <%= text_field_tag :email, params[:email], autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <%= label_tag :password, nil, class: "control-label" %>
          <%= password_field_tag :password, params[:password], class: "form-control" %>
        </div>
      </div>

      <%= submit_tag "Log in", id:"submit-user", class: "btn btn-primary" %>
    <% end %>

    <div><%= link_to "Don't have an account? Sign up here", signup_path%></div>
    <div><%= link_to "Forgot Password?", nil %></div>
    
  </div>
  <div class="col-xs-4"></div>
</div>



