<h1>Edit <%= @user.first_name %>'s Profile</h1>

<%= form_for @user do |f| %>
<%= f.label "first_name" %>:
<%= f.text_field "first_name" %></br>
<%= f.label "last_name" %>:
<%= f.text_field "last_name" %></br>
<%= f.label "email" %>:
<%= f.text_field "email" %></br>
<%= f.label "profilepic_url" %>:
<%= f.text_field "profilepic_url" %></br>
<%= f.submit %>
<%end%>







