<% flash.each do |key, value| %>
  <% if key == "notice" %>
    <%= content_tag :div, value, class: "text-center alert alert-warning" %>
  <% elsif key == "alert" %>
    <%= content_tag :div, value, class: "text-center alert alert-danger" %>
  <% else %>
    <%= content_tag :div, value, class: "text-center alert alert-success" %>
  <% end %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
      <img src="<%= @user.profilepic_url %>" alt="Profile Picture" class="profilePicture">
      <div class="firstName"><%= @user.first_name %></div>
      <div class="lastName"><%= @user.last_name %></div>
      <div class="sellerRating">stars</div>
      <div class="buyerRating">stars</div>
      <%= link_to "Edit Profile", edit_user_path(@user) %>
    </div>
    <div class="col-xs-5">
      <div class="activeListings">
        <% @user.items.each do |item| %>
          <div><%= link_to item.name, item_path() %></div>
          <div><%= item.description %></div>
          <div><img src="<%= item.pic_url %>"></div>
          <div><%= item.price %></div>
          <%= link_to 'Destroy',  item,  method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to 'Edit', edit_item_path(item) %>
        <%end%>
      </div>
    </div>
    <div class="col-xs-5">
      <table class="table table-bordered">
        <thead>
          <th>Seller</th>
          <th>Buyer</th>
          <th>Item</th>
          <th>Seller Rating</th>
          <th>Buyer Rating</th>
        </thead>
        <tbody>
        <% @user.txns.each do |txn| %>
        <!-- need jQuery here. When click on txn id, toggle down to get description -->
          <tr>
            <td> <%= txn.user.first_name %> </td>

            <% if txn.buyer_id %>
              <td> <%= User.where(id: txn.buyer_id)[0].first_name %> </td>
            <% else %>
              <td> Pending Listing </td>
            <% end %>

            <td> <%= txn.item.name %> </td>

            <% if txn.seller_rating %>
              <td> <%= txn.seller_rating %> </td>
            <% else %>
              <td> Pending Rating </td>
            <% end %>

            <% if txn.buyer_rating %>
              <td> <%= txn.buyer_rating %> </td>
            <% else %>
              <td> Pending Rating </td>
            <% end %>
          </tr>
        <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>

