<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3" id="sellerBox">
      <div id="sellerInformation">Seller Info:</div>
      <div class="sellerPic">
        <img id="sellerPic" src="<%= @item.user.profilepic_url %>">
      </div>
      <div id="sellerRating">
        <div id="sellerRatingTitle">Seller Rating:</div>
        <div>Stars</div>
      </div>


      <div id="contactInformation">Contact Information:</div>        
      <div id="sellerName">
        <span><%= @item.user.first_name %> <%= @item.user.last_name %></span>
      </div>

      <div id="sellerEmail">
        <span><%= @item.user.email %></span>
      </div>

      <div id="acceptedPay">
        Accepted Payments:
      </div>
      <div id="bitcoinImg">
        <img class="payIcon" src="<%= asset_path( 'bitcoin.png' ) %>">
      </div>

      <div>
        <%= link_to 'See Profile', user_path(@item.user), class: "btn btn-primary" %>
        <button id="buyButton" type="button" class="btn btn-default">Buy Now</button>
      </div>
    </div>
    <div class="col-xs-5">
      <div class="row">
        <div class="col-xs-12">
        <!-- item short description -->
          <h2><%= @item.name %></h2>
          <img class="productImg" src="<%= @item.pic_url %>" alt="Item Image">
        </div>
      </div>    

<!--       long description here -->
      <div class="descripTitle">Description: </div>
      <div><%= @item.description %></div> 

      <div class="itemPrice">Price: </div>
      <div>$<%= @item.price %></div>
    </div>
<!--       vv code for comments vv -->
<!--       <hr class="style-one"> -->
    <div class="col-xs-4 test">
      <div id="errors">
        
      </div>
      <div>
        <%= form_for( @comment, url: item_path(@item)) do |f| %>
          <div class="form-group col-xs-12">
            <%= f.text_field :comment, class: "form-control" %>
            <%= f.text_field :item, class: "form-control hidden", value: params[:id] %>
            <%= f.text_field :user_id, class: "form-control col-sm-6 hidden", value: @item.user.id %>

            <%= f.submit class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Comments</h3>
        </div>
        <div id="comments" class="panel-body">
          <% @comments.each do |c| %>
            <div><%= c.user.first_name %>: <%= c.comment %></div>
            <hr id="commentSep">
          <% end %>
        </div>
      </div>
    </div>

<!--     <div class="row">
      <div id="errors">
        
      </div>
      
      <%= form_for( @comment, url: item_path(@item)) do |f| %>
        <div class="form-group">
          <%= f.text_field :comment, class: "form-control col-sm-6" %>
          <%= f.text_field :item, class: "form-control col-sm-6 hidden", value: params[:id] %>
          <%= f.text_field :user_id, class: "form-control col-sm-6 hidden", value: @item.user.id %>

          <%= f.submit class: "btn btn-primary" %>
        </div>
      <% end %>
      <div class="col-xs-3"></div>
      
      <div class="col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Comments</h3>
          </div>
          <div id="comments" class="panel-body">
            <% @comments = @item.comments.order(id: :asc) %>
            <% @comments.each do |c| %>
              <% u = User.where(id: c.user_id)[0] %>
              <div><%= u.first_name %>: <%= c.comment %></div>
              <hr id="commentSep">
            <% end %>
          </div>
        </div>
      </div> -->

        <div class="col-xs-3"></div>
      </div>
    </div>
  </div>
</div>



